@keyframes rainbow {
0% {background-color: red;}
15% {background-color: orange;}
30% {background-color: yellow;}
45% {background-color: green;}
60% {background-color: blue;}
75% {background-color: indigo;}
90% {background-color: violet;}
100% {background-color: red;}
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gainsboro;
}
#buttonContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
body button{
    width: 150px;
    height: 50px;
}
#sketchContainer{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 120px;
    height: 640px;
    width: 640px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-color: white;
}
#sketchContainer div{
    height: 40px;
    width: 40px;
    /*outline: 1px solid gray;*/
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
}
#draw{
    background-color:azure
}
#erase{
    background-color: pink;
}
#rainbow{
    animation-name: rainbow;
    background-color: red;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#colorText{
    text-align: center;
}
#colorPicker{
    align-self: center;
    height: 50px;
    width: 50px;
    border-radius: 8px;
}